ANTHROPIC_API_KEY=your_api_key_here

# Atono environment key — pick the one matching your environment:
# dev:   xl8TSrv7tayOBVwPuw_N-CRY0VJksnICVGvh-6WWPde0
# test:  8nQEbTJhqiBSQDmOtoF72vbmpiWhWGEBxhYK_v29_Lzm
# stage: FCTuN_fwSLxMBjoqqUo2nxx_BRrqW1gm8puCrNMMpDTn
# prod:  xaQSM0Fg71zdrK7DKR2ts1N147iOAdgq1ZUeWsyj_Q-m
ATONO_ENV_KEY=xl8TSrv7tayOBVwPuw_N-CRY0VJksnICVGvh-6WWPde0
